/**
 * Component - Cover
 */

.cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(192, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(192, 255, 255, 0.3)), url("./assets/logo_kunimi-life.png") no-repeat center center / 18rem;
}
