/**
 * Layout - Footer
 */

.footer {
  padding: space("large") 0;
  @include background("primary");
  @include small-text();

  &__inner {
    @include container("sm");
  }

  &__table {
    @include table();

    tr {
      border-block-end: none;

      &:first-child {
        border-block-start: none;
      }
    }

    th, td {
      padding: space("x-small");
    }

    td:nth-child(1) {
      width: 5.25rem;
    }
  }
}
