/**
 * Layout - Header
 */

.header {
  padding-block: space();

  &__inner {
    @include container();
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: 0 2px 6px #000000;
  }
}
