/**
 * Project - Section
 */

.section {
  &__inner {
    padding-block: space("large");
  }

  &__inner {
    @include container();
    padding-block-start: calc(#{space()} + #{space("medium")});
    padding-block-end: space("large");
  }

  &__title {
    padding-inline-start: space("small");
    border-inline-start: space("x-small") solid theme-color("light");
    font-weight: 700;
  }
}
