/**
 * Project - Section
 */

.section {
  &__inner {
    padding-block: space("large");

    :where(&) {
      background-color: $body-bg;
    }
  }

  &__inner {
    @include container();
    padding-block-start: calc(#{space()} + #{space("medium")});
    padding-block-end: space("large");
  }

  &__heading {
    margin: space("medium") 0;
    text-align: center;
    text-transform: capitalize;
  }
}
